/* body {
    text-align: center;
    background-color:#333;
    color: white;
} */

footer {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background-color: white;
    color: black;
}