html, body {
    height: 100%;
}

.site-footer {
    padding-top: 25px;
    padding-bottom: 0px;
    width: 100%;
    flex-shrink: 0;
}

.content-wrapper {
    display: flex;
    height: 100%;
}

.post-list-container {
    background-color: #EEE;
    margin-left: 10px;
    padding-inline: 10px;
}

.post-list-header {
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    padding-top: 10px;
}

.bottom-text {
    align-self: flex-end;
}

.post-wrapper {
    width: 100%;
}