.page-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-footer > * {
    flex: 1;
}

.label-icon-spacing {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.label-icon-spacing > i {
    margin-left: 5px !important;
    margin-right: 0px !important;
}
