html, body {
    height: 100%;
}

main {
    flex: auto;
}

.react-content {
    min-height: 100vh;
    height: fit-content;
    display: flex !important;
    flex-direction: column;
}

.post-side-menu {
    min-width: fit-content;
}

.static-area textarea {
    resize: none !important;
    /* height: 200px; */
}
