html, body {
    height: 100%;
}

#react-container {
    height: 100%;
}

.react-container {
    height: 100%;
    display: flex !important;
    flex-direction: column;
}

main {
    flex: auto;
}

.root-header {
    flex-shrink: 0;
    min-height: 10vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

hr {
    width: 100%;
}

.root-footer {
    flex-shrink: 0;
    min-height: 5vh;
    text-align: center;
}