html, body {
    height: 100%;
}

main {
    flex: auto;
}

.react-content {
    min-height: 100vh;
    height: fit-content;
    display: flex !important;
    flex-direction: column;
}

.post-side-menu {
    min-width: fit-content;
}

.static-area textarea {
    resize: none !important;
    min-height: 30vh;
    overflow: hidden;
}

.inner-container {
    min-height: 60vh;
    height: fit-content;
}
